@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@layer base {
  input {
    @apply appearance-none bg-transparent focus:outline-none;
  }

  a {
    @apply text-brand-accent hover:underline;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #4D37C9; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}